form {
  display: flex;
  flex-direction: column;
}

.formName {
  margin-bottom: 10px;
}

input {
  color: black;
  font-size: 16px;
  padding: 10px;
  border-radius: 0.1rem;
  border: solid 1px;
  border-radius: 2px;
  display: block;
}

form > button {
  font-size: 20px;
  color: black;
  margin-top: 30px;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 250ms;
}

form > button:hover {
  /* transform: scale(1.1); */
  background-color: teal;
  color: white;
}
